<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>校园网流量账号管理系统后台</title>
	<link rel="stylesheet" href="/static/layui/css/layui.css">
</head>

<body>
	<div class="layui-fluid">
		<div class="demoTable">
			教工号：
			<div class="layui-inline">
				<input class="layui-input" name="id" id="reloadusername" autocomplete="off">
			</div>
			姓名：
			<div class="layui-inline">
				<input class="layui-input" name="id" id="reloadrealname" autocomplete="off">
			</div>
			<button class="layui-btn" data-type="reload">搜索</button>
		</div>
		<table class="layui-hide" id="user" lay-filter="user"></table>

	</div>
	<script type="text/html" id="toolbarDemo">
		<div class="layui-btn-container">
		  <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
		  <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
		  <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
		  <button class="layui-btn layui-btn-sm" lay-event="reload">刷新</button>
		</div>
	</script>
	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="details">查看</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
     		<script src="/static/html5shiv/html5shiv.min.js"></script>
	 		<script src="/static/respond/respond.min.js"></script>
		<![endif]-->
	<script src="/static/layui/layui.js"></script>
	<script>
		layui.use(['jquery', 'layer', 'table'], function () {
			var table = layui.table, layer = layui.layer, $ = layui.jquery;
			table.render({
				elem: '#user'
				, url: '/index.php/user'
				, toolbar: '#toolbarDemo'
				, response: {
					statusCode: 200 //规定成功的状态码，默认：0
					// ,statusName: 'status' //规定数据状态的字段名称，默认：code
					// ,statusCode: 200 //规定成功的状态码，默认：0
					// ,msgName: 'hint' //规定状态信息的字段名称，默认：msg
					// ,countName: 'total' //规定数据总数的字段名称，默认：count
					// ,dataName: 'rows' //规定数据列表的字段名称，默认：data
				}
				, parseData: function (res) { //res 即为原始返回的数据
					return {
						"code": res.code, //解析接口状态
						"msg": res.msg, //解析提示文本
						"count": res.count, //解析数据长度
						"data": res.data //解析数据列表
					};
				}
				, title: '用户数据表'
				, cellMinWidth: 80
				, cols: [[
					{ type: 'checkbox', fixed: 'left' }
					, { field: 'id', title: 'ID', align: 'center', fixed: 'left', unresize: true, sort: true }
					, { field: 'username', title: '教工号', align: 'center' }
					, { field: 'real_name', title: '姓名' }
					, { field: 'create_time', title: '创建日期', align: 'center', sort: true }
					, { field: 'apply_count', title: '申请次数', align: 'center', sort: true }
					, { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120, align: 'center' }
				]]
				, id: 'userReload'
				, page: true
			});

			//头工具栏事件
			table.on('toolbar(user)', function (obj) {
				var checkStatus = table.checkStatus(obj.config.id);
				switch (obj.event) {
					case 'getCheckData':
						var data = checkStatus.data;
						layer.alert(JSON.stringify(data));
						break;
					case 'getCheckLength':
						var data = checkStatus.data;
						layer.msg('选中了：' + data.length + ' 个');
						break;
					case 'isAll':
						layer.msg(checkStatus.isAll ? '全选' : '未全选');
						break;
					case 'reload':
						active.reload.call(this, {})//刷新
						break;
				};
			});
			//监听行工具事件
			table.on('tool(user)', function (obj) {
			    if (obj.event === 'details') {
                    let url ='http://' + window.location.host + '/index.php/user/' + obj.data.id;
                    layer.open({
                        type: 2,
                        title: '详情',
                        area: ['680px', '360px'],
                        shadeClose: true, //点击遮罩关闭
                        content: url,
                        btn: ['关闭'],
                        yes: function (index) {
                            layer.close(index)
                        },
                    });

				}else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.post("/index.php/user/del", { id: obj.data.id },
                            function (res) {
                                if (res.code == 200) {
                                    obj.del();
                                    layer.msg(res.msg, { icon: 1 });
                                } else {
                                    layer.msg(res.msg, { icon: 2 });
                                }
                            }, "json").fail(function (res) {
                            layer.msg(res.msg, { icon: 0 });
                        })
                        layer.close(index);
					})
				}
			});
			$('.demoTable .layui-btn').on('click', function () {
				var type = $(this).data('type');
				let key = { username: $('#reloadusername').val(), real_name: $('#reloadrealname').val() }
				active[type] ? active[type].call(this, key) : '';
			});
			//搜索功能
			var active = {
				reload: function (key) {
					//执行重载
					table.reload('userReload', {
						url: '/index.php/user',
						method: 'get',
						page: {
							curr: 1 //重新从第 1 页开始
						}
						, where: {
							key: key
						}
					});
				}
			};
		});
	</script>
</body>

</html>